/* Desktop Website CSS [desktop.css] */


/* Layout Elements */
body, html {
	background-image: url("images/backing.png");
	background-repeat: repeat-x;
	background-position: top;
	background-attachment: fixed;
	color: #000000;
	font-family:  Calibri, Arial, Helvetica;
	font-size: 12px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
#container {
	height: 100%;
}
#content {
	clear: both;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	height: 100%;
	padding-bottom: 336px;
	width: 100%;
}
#footer {
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	border-top: 1px solid #000000;
	bottom: 0;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	height: 25px;
	padding-bottom: 0px;
	padding-left: 290px;
	padding-top: 5px;
	position: fixed;
	width: 100%;
}
#header {
	background: #990000;
	background: -moz-linear-gradient(top, #cc0000 0%, #b30000 54%, #990000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(54%,#b30000), color-stop(100%,#990000));
	background: -webkit-linear-gradient(top, #cc0000 0%,#b30000 54%,#990000 100%);
	background: -o-linear-gradient(top, #cc0000 0%,#b30000 54%,#990000 100%);
	background: -ms-linear-gradient(top, #cc0000 0%,#b30000 54%,#990000 100%);
	background: linear-gradient(to bottom, #cc0000 0%,#b30000 54%,#990000 100%);
	border-bottom: 1px solid #000000;
	display: box;
	display: -moz-box;
	display: -webkit-box;
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#990000',GradientType=0 );
	height: 25px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
#header-left {
	float: left;
	width: 275px;
}
#header-right {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	float: right;
	padding-top: 5px;
	padding-right: 10px;
	text-align: right;
}
#main {
	box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	font-family: Calibri, Arial;
	font-size: 24px;
	margin-left: 275px;
	padding-left: 15px;
	padding-top: 50px;
	text-align: left;
}
#sidebar {
	border-right: 1px dashed #cc0000;
	bottom: 0;
	font-family: Calibri, Arial;
	font-size: 24px;
	padding-top: 100px;
	position: fixed;
	text-align: left;
	top: 0;
	width: 275px;
}


/* HTML Elements */

#header-right a,a:active,a:visited {
	color: #ffffff;
	text-decoration: none;
}
#header-right a:hover {
	color: #660000;
	text-decoration: underline;
}
#content a,a:active,a:visited {
	color: #cc0000;
	text-decoration: none;
}
#content a:hover {
	color: #660000;
	text-decoration: underline;
}
fieldset.hidden {
	border: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
}
img {
	border: 0px;
}